@import "admin/variables";

.admin-pagination {
  margin-bottom: 4rem;
  text-align: center;

  .page.current,
  a {
    display: inline-block;
    padding: 0.6rem 1.2rem;
  }

  a {
    border: 0.1rem solid color(var(--brand-bg-color) shade(10%));
    border-radius: 0.4rem;
    color: color(var(--brand-bg-color) shade(40%));
    text-decoration: none;

    &:hover {
      background-color: var(--white);
      color: var(--gray2A);
    }
  }
  
  /* Support for algolia instantsearch rendering */
  .ais-Pagination {
    &-list {
      justify-content: center;
    }

    &-item {
      margin: 0 0.2rem;
    }

    &-item--selected a {
      border: 0;
      color: inherit;
      pointer-events: none;
    }

    &-item--disabled {
      display: none;
    }
}
