@import "admin/variables";

.admin-form {
  max-width: 60rem;

  &-footer {
    border: 0.1rem solid color(var(--brand-bg-color) shade(20%));
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: right;
  }
}
