@import "admin/variables";

.admin-form-group {
  margin-bottom: 1.6rem;

  &:last-child {
    margin-bottom: 0;
  }

  &-label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  &-help {
    color: color(var(--brand-bg-color) shade(30%));
    font-size: 1.3rem;
    font-style: italic;
    margin-left: 3.2rem;
    
    a {
      color: inherit;
      
      &:hover,
      &:focus {
        color: var(--black);
      }
    }
  }

  &.on-same-line {
    align-items: baseline;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 3rem 0 2rem;

    .admin-form-group-content {
      margin-right: 2rem;
    }
  }

  &.as-flex {
    .admin-form-group-content {
      align-items: center;
      display: flex;
      justify-content: space-between;

      > * + * {
        margin-left: 1rem;
      }
    }

    &.on-left {
      .admin-form-group-content {
        justify-content: flex-start;
      }
    }
  }

  .admin-blocks-card-content & {
    margin: 0 2rem;
    padding-top: 2rem;

    &:last-child {
      padding-bottom: 2rem;
    }
  }

  input,
  textarea {
    background-color: var(--white);
    border: 0.1rem solid color(var(--brand-bg-color) shade(20%));
    border-radius: 0.4rem;
    box-shadow: 0;
    display: block;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0.6rem 1.2rem;
    transition: box-shadow 0.2s ease;
    width: 100%;

    [type="checkbox"],
    [type="radio"] {
      width: inherit;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem
        color(var(--brand-bg-color) shade(20%) alpha(0.75));
    }
  }
}
