= c "admin/container"
  = c "admin/heading", title: page_title, actions: :index

  ruby:
    columns = [
      :full_name,
      :email,
      [:role, ->(item) { User.human_enum_name(:roles, item.role) }]
    ]
  = c "admin/items_table",
      items: @items,
      columns: columns
